In [14]:
#setting strategies
strategies=['Rock','Paper','Scissors','Lizard','Spock']

In [15]:
#setting payoff for all combinations based on the game rule 
payoff={('Rock','Paper'):(0,1),
        ('Paper','Rock'):(1,0),
        ('Rock','Scissors'):(1,0),
        ('Scissors','Rock'):(0,1),
        ('Rock','Lizard'):(1,0),
        ('Lizard','Rock'):(0,1),
        ('Rock','Spock'):(0,1),
        ('Spock','Rock'):(1,0),
        ('Paper','Scissors'):(0,1),
        ('Scissors','Paper'):(1,0),
        ('Paper','Lizard'):(0,1),
        ('Lizard','Paper'):(1,0),
        ('Paper','Spock'):(1,0),
        ('Spock','Paper'):(0,1),
        ('Scissors','Lizard'):(1,0),
        ('Lizard','Scissors'):(0,1),
        ('Scissors','Spock'):(0,1),
        ('Spock','Scissors'):(1,0),
        ('Lizard','Spock'):(1,0),
        ('Spock','Lizard'):(0,1),
        ('Rock','Rock'):(0,0),
        ('Paper','Paper'):(0,0),
        ('Scissors','Scissors'):(0,0),
       ('Lizard','Lizard'):(0,0),
       ('Spock','Spock'):(0,0)}

In [16]:
#creating and setting up players
Players=[{'name':'John','score':0,'strategy':None},
         {'name':'Mary','score':0,'strategy':None}]

In [25]:
from random import choice

#simples: choose randomly
choice(strategies)

'Scissors'

In [26]:
#Players makes a choice
Players[0]['strategy']=choice(strategies)
Players[1]['strategy']=choice(strategies)

In [27]:
#current decision
Players[0]['strategy'],Players[1]['strategy']

('Lizard', 'Rock')

In [28]:
#social result of individual action
result = payoff[Players[0]['strategy'],Players[1]['strategy']]
result

(0, 1)

In [29]:
# update agents situation
Players[0]['score']+=result[0]
Players[1]['score']+=result[1]

In [30]:
# current agent situation
Players[0], Players[1]

({'name': 'John', 'score': 0, 'strategy': 'Lizard'},
 {'name': 'Mary', 'score': 2, 'strategy': 'Rock'})

In [31]:
import pandas as pd 

socialResults=pd.DataFrame((Players[0], Players[1]))
socialResults

   name  score strategy
0  John      0   Lizard
1  Mary      2     Rock

In [32]:
filter1=socialResults.score==socialResults.score.max()
winner=socialResults[filter1]

#social outcome
winner

   name  score strategy
1  Mary      2     Rock

In [33]:
#more number of players
# names of players
names=['Jim','Jane','Peter','Zoe','Paul','Brigitte','Alex','Chris','Tom']

In [35]:
# list of players
society=[{'name':n,'score':0,'strategy':None} for n in names]
society

[{'name': 'Jim', 'score': 0, 'strategy': None},
 {'name': 'Jane', 'score': 0, 'strategy': None},
 {'name': 'Peter', 'score': 0, 'strategy': None},
 {'name': 'Zoe', 'score': 0, 'strategy': None},
 {'name': 'Paul', 'score': 0, 'strategy': None},
 {'name': 'Brigitte', 'score': 0, 'strategy': None},
 {'name': 'Alex', 'score': 0, 'strategy': None},
 {'name': 'Chris', 'score': 0, 'strategy': None},
 {'name': 'Tom', 'score': 0, 'strategy': None}]

In [36]:
import itertools 
for pair in itertools.combinations(society,2):
    print(pair)

({'name': 'Jim', 'score': 0, 'strategy': None}, {'name': 'Jane', 'score': 0, 'strategy': None})
({'name': 'Jim', 'score': 0, 'strategy': None}, {'name': 'Peter', 'score': 0, 'strategy': None})
({'name': 'Jim', 'score': 0, 'strategy': None}, {'name': 'Zoe', 'score': 0, 'strategy': None})
({'name': 'Jim', 'score': 0, 'strategy': None}, {'name': 'Paul', 'score': 0, 'strategy': None})
({'name': 'Jim', 'score': 0, 'strategy': None}, {'name': 'Brigitte', 'score': 0, 'strategy': None})
({'name': 'Jim', 'score': 0, 'strategy': None}, {'name': 'Alex', 'score': 0, 'strategy': None})
({'name': 'Jim', 'score': 0, 'strategy': None}, {'name': 'Chris', 'score': 0, 'strategy': None})
({'name': 'Jim', 'score': 0, 'strategy': None}, {'name': 'Tom', 'score': 0, 'strategy': None})
({'name': 'Jane', 'score': 0, 'strategy': None}, {'name': 'Peter', 'score': 0, 'strategy': None})
({'name': 'Jane', 'score': 0, 'strategy': None}, {'name': 'Zoe', 'score': 0, 'strategy': None})
({'name': 'Jane', 'score': 0, 'strategy': None}, {'name': 'Paul', 'score': 0, 'strategy': None})
({'name': 'Jane', 'score': 0, 'strategy': None}, {'name': 'Brigitte', 'score': 0, 'strategy': None})
({'name': 'Jane', 'score': 0, 'strategy': None}, {'name': 'Alex', 'score': 0, 'strategy': None})
({'name': 'Jane', 'score': 0, 'strategy': None}, {'name': 'Chris', 'score': 0, 'strategy': None})
({'name': 'Jane', 'score': 0, 'strategy': None}, {'name': 'Tom', 'score': 0, 'strategy': None})
({'name': 'Peter', 'score': 0, 'strategy': None}, {'name': 'Zoe', 'score': 0, 'strategy': None})
({'name': 'Peter', 'score': 0, 'strategy': None}, {'name': 'Paul', 'score': 0, 'strategy': None})
({'name': 'Peter', 'score': 0, 'strategy': None}, {'name': 'Brigitte', 'score': 0, 'strategy': None})
({'name': 'Peter', 'score': 0, 'strategy': None}, {'name': 'Alex', 'score': 0, 'strategy': None})
({'name': 'Peter', 'score': 0, 'strategy': None}, {'name': 'Chris', 'score': 0, 'strategy': None})
({'name': 'Peter', 'score': 0, 'strategy': None}, {'name': 'Tom', 'score': 0, 'strategy': None})
({'name': 'Zoe', 'score': 0, 'strategy': None}, {'name': 'Paul', 'score': 0, 'strategy': None})
({'name': 'Zoe', 'score': 0, 'strategy': None}, {'name': 'Brigitte', 'score': 0, 'strategy': None})
({'name': 'Zoe', 'score': 0, 'strategy': None}, {'name': 'Alex', 'score': 0, 'strategy': None})
({'name': 'Zoe', 'score': 0, 'strategy': None}, {'name': 'Chris', 'score': 0, 'strategy': None})
({'name': 'Zoe', 'score': 0, 'strategy': None}, {'name': 'Tom', 'score': 0, 'strategy': None})
({'name': 'Paul', 'score': 0, 'strategy': None}, {'name': 'Brigitte', 'score': 0, 'strategy': None})
({'name': 'Paul', 'score': 0, 'strategy': None}, {'name': 'Alex', 'score': 0, 'strategy': None})
({'name': 'Paul', 'score': 0, 'strategy': None}, {'name': 'Chris', 'score': 0, 'strategy': None})
({'name': 'Paul', 'score': 0, 'strategy': None}, {'name': 'Tom', 'score': 0, 'strategy': None})
({'name': 'Brigitte', 'score': 0, 'strategy': None}, {'name': 'Alex', 'score': 0, 'strategy': None})
({'name': 'Brigitte', 'score': 0, 'strategy': None}, {'name': 'Chris', 'score': 0, 'strategy': None})
({'name': 'Brigitte', 'score': 0, 'strategy': None}, {'name': 'Tom', 'score': 0, 'strategy': None})
({'name': 'Alex', 'score': 0, 'strategy': None}, {'name': 'Chris', 'score': 0, 'strategy': None})
({'name': 'Alex', 'score': 0, 'strategy': None}, {'name': 'Tom', 'score': 0, 'strategy': None})
({'name': 'Chris', 'score': 0, 'strategy': None}, {'name': 'Tom', 'score': 0, 'strategy': None})

In [37]:
import itertools 
for player1,player2 in itertools.combinations(society,2):
    print(player1,player2)

{'name': 'Jim', 'score': 0, 'strategy': None} {'name': 'Jane', 'score': 0, 'strategy': None}
{'name': 'Jim', 'score': 0, 'strategy': None} {'name': 'Peter', 'score': 0, 'strategy': None}
{'name': 'Jim', 'score': 0, 'strategy': None} {'name': 'Zoe', 'score': 0, 'strategy': None}
{'name': 'Jim', 'score': 0, 'strategy': None} {'name': 'Paul', 'score': 0, 'strategy': None}
{'name': 'Jim', 'score': 0, 'strategy': None} {'name': 'Brigitte', 'score': 0, 'strategy': None}
{'name': 'Jim', 'score': 0, 'strategy': None} {'name': 'Alex', 'score': 0, 'strategy': None}
{'name': 'Jim', 'score': 0, 'strategy': None} {'name': 'Chris', 'score': 0, 'strategy': None}
{'name': 'Jim', 'score': 0, 'strategy': None} {'name': 'Tom', 'score': 0, 'strategy': None}
{'name': 'Jane', 'score': 0, 'strategy': None} {'name': 'Peter', 'score': 0, 'strategy': None}
{'name': 'Jane', 'score': 0, 'strategy': None} {'name': 'Zoe', 'score': 0, 'strategy': None}
{'name': 'Jane', 'score': 0, 'strategy': None} {'name': 'Paul', 'score': 0, 'strategy': None}
{'name': 'Jane', 'score': 0, 'strategy': None} {'name': 'Brigitte', 'score': 0, 'strategy': None}
{'name': 'Jane', 'score': 0, 'strategy': None} {'name': 'Alex', 'score': 0, 'strategy': None}
{'name': 'Jane', 'score': 0, 'strategy': None} {'name': 'Chris', 'score': 0, 'strategy': None}
{'name': 'Jane', 'score': 0, 'strategy': None} {'name': 'Tom', 'score': 0, 'strategy': None}
{'name': 'Peter', 'score': 0, 'strategy': None} {'name': 'Zoe', 'score': 0, 'strategy': None}
{'name': 'Peter', 'score': 0, 'strategy': None} {'name': 'Paul', 'score': 0, 'strategy': None}
{'name': 'Peter', 'score': 0, 'strategy': None} {'name': 'Brigitte', 'score': 0, 'strategy': None}
{'name': 'Peter', 'score': 0, 'strategy': None} {'name': 'Alex', 'score': 0, 'strategy': None}
{'name': 'Peter', 'score': 0, 'strategy': None} {'name': 'Chris', 'score': 0, 'strategy': None}
{'name': 'Peter', 'score': 0, 'strategy': None} {'name': 'Tom', 'score': 0, 'strategy': None}
{'name': 'Zoe', 'score': 0, 'strategy': None} {'name': 'Paul', 'score': 0, 'strategy': None}
{'name': 'Zoe', 'score': 0, 'strategy': None} {'name': 'Brigitte', 'score': 0, 'strategy': None}
{'name': 'Zoe', 'score': 0, 'strategy': None} {'name': 'Alex', 'score': 0, 'strategy': None}
{'name': 'Zoe', 'score': 0, 'strategy': None} {'name': 'Chris', 'score': 0, 'strategy': None}
{'name': 'Zoe', 'score': 0, 'strategy': None} {'name': 'Tom', 'score': 0, 'strategy': None}
{'name': 'Paul', 'score': 0, 'strategy': None} {'name': 'Brigitte', 'score': 0, 'strategy': None}
{'name': 'Paul', 'score': 0, 'strategy': None} {'name': 'Alex', 'score': 0, 'strategy': None}
{'name': 'Paul', 'score': 0, 'strategy': None} {'name': 'Chris', 'score': 0, 'strategy': None}
{'name': 'Paul', 'score': 0, 'strategy': None} {'name': 'Tom', 'score': 0, 'strategy': None}
{'name': 'Brigitte', 'score': 0, 'strategy': None} {'name': 'Alex', 'score': 0, 'strategy': None}
{'name': 'Brigitte', 'score': 0, 'strategy': None} {'name': 'Chris', 'score': 0, 'strategy': None}
{'name': 'Brigitte', 'score': 0, 'strategy': None} {'name': 'Tom', 'score': 0, 'strategy': None}
{'name': 'Alex', 'score': 0, 'strategy': None} {'name': 'Chris', 'score': 0, 'strategy': None}
{'name': 'Alex', 'score': 0, 'strategy': None} {'name': 'Tom', 'score': 0, 'strategy': None}
{'name': 'Chris', 'score': 0, 'strategy': None} {'name': 'Tom', 'score': 0, 'strategy': None}

In [44]:
# chose each pair of players:

# list of players
society=[{'name':n,'score':0,'strategy':None} for n in names]


for player1,player2 in itertools.combinations(society,2):
    
    player1['strategy']=choice(strategies)
    player2['strategy']=choice(strategies)
    result=payoff[player1['strategy'],player2['strategy']]
    player1['score']+=result[0]
    player2['score']+=result[1]
    print(player1,player2)

{'name': 'Jim', 'score': 1, 'strategy': 'Lizard'} {'name': 'Jane', 'score': 0, 'strategy': 'Spock'}
{'name': 'Jim', 'score': 1, 'strategy': 'Scissors'} {'name': 'Peter', 'score': 0, 'strategy': 'Scissors'}
{'name': 'Jim', 'score': 2, 'strategy': 'Rock'} {'name': 'Zoe', 'score': 0, 'strategy': 'Scissors'}
{'name': 'Jim', 'score': 2, 'strategy': 'Rock'} {'name': 'Paul', 'score': 1, 'strategy': 'Paper'}
{'name': 'Jim', 'score': 2, 'strategy': 'Spock'} {'name': 'Brigitte', 'score': 1, 'strategy': 'Lizard'}
{'name': 'Jim', 'score': 2, 'strategy': 'Paper'} {'name': 'Alex', 'score': 1, 'strategy': 'Lizard'}
{'name': 'Jim', 'score': 2, 'strategy': 'Lizard'} {'name': 'Chris', 'score': 0, 'strategy': 'Lizard'}
{'name': 'Jim', 'score': 3, 'strategy': 'Spock'} {'name': 'Tom', 'score': 0, 'strategy': 'Scissors'}
{'name': 'Jane', 'score': 1, 'strategy': 'Scissors'} {'name': 'Peter', 'score': 0, 'strategy': 'Paper'}
{'name': 'Jane', 'score': 2, 'strategy': 'Spock'} {'name': 'Zoe', 'score': 0, 'strategy': 'Scissors'}
{'name': 'Jane', 'score': 2, 'strategy': 'Spock'} {'name': 'Paul', 'score': 2, 'strategy': 'Lizard'}
{'name': 'Jane', 'score': 3, 'strategy': 'Rock'} {'name': 'Brigitte', 'score': 1, 'strategy': 'Lizard'}
{'name': 'Jane', 'score': 4, 'strategy': 'Paper'} {'name': 'Alex', 'score': 1, 'strategy': 'Spock'}
{'name': 'Jane', 'score': 4, 'strategy': 'Paper'} {'name': 'Chris', 'score': 1, 'strategy': 'Lizard'}
{'name': 'Jane', 'score': 5, 'strategy': 'Spock'} {'name': 'Tom', 'score': 0, 'strategy': 'Rock'}
{'name': 'Peter', 'score': 1, 'strategy': 'Rock'} {'name': 'Zoe', 'score': 0, 'strategy': 'Lizard'}
{'name': 'Peter', 'score': 2, 'strategy': 'Scissors'} {'name': 'Paul', 'score': 2, 'strategy': 'Lizard'}
{'name': 'Peter', 'score': 3, 'strategy': 'Paper'} {'name': 'Brigitte', 'score': 1, 'strategy': 'Spock'}
{'name': 'Peter', 'score': 4, 'strategy': 'Rock'} {'name': 'Alex', 'score': 1, 'strategy': 'Lizard'}
{'name': 'Peter', 'score': 5, 'strategy': 'Paper'} {'name': 'Chris', 'score': 1, 'strategy': 'Spock'}
{'name': 'Peter', 'score': 6, 'strategy': 'Spock'} {'name': 'Tom', 'score': 0, 'strategy': 'Rock'}
{'name': 'Zoe', 'score': 0, 'strategy': 'Spock'} {'name': 'Paul', 'score': 2, 'strategy': 'Spock'}
{'name': 'Zoe', 'score': 0, 'strategy': 'Paper'} {'name': 'Brigitte', 'score': 2, 'strategy': 'Scissors'}
{'name': 'Zoe', 'score': 1, 'strategy': 'Scissors'} {'name': 'Alex', 'score': 1, 'strategy': 'Lizard'}
{'name': 'Zoe', 'score': 2, 'strategy': 'Spock'} {'name': 'Chris', 'score': 1, 'strategy': 'Scissors'}
{'name': 'Zoe', 'score': 2, 'strategy': 'Spock'} {'name': 'Tom', 'score': 1, 'strategy': 'Lizard'}
{'name': 'Paul', 'score': 3, 'strategy': 'Spock'} {'name': 'Brigitte', 'score': 2, 'strategy': 'Scissors'}
{'name': 'Paul', 'score': 3, 'strategy': 'Lizard'} {'name': 'Alex', 'score': 2, 'strategy': 'Scissors'}
{'name': 'Paul', 'score': 4, 'strategy': 'Paper'} {'name': 'Chris', 'score': 1, 'strategy': 'Rock'}
{'name': 'Paul', 'score': 5, 'strategy': 'Spock'} {'name': 'Tom', 'score': 1, 'strategy': 'Rock'}
{'name': 'Brigitte', 'score': 2, 'strategy': 'Spock'} {'name': 'Alex', 'score': 2, 'strategy': 'Spock'}
{'name': 'Brigitte', 'score': 3, 'strategy': 'Lizard'} {'name': 'Chris', 'score': 1, 'strategy': 'Paper'}
{'name': 'Brigitte', 'score': 4, 'strategy': 'Scissors'} {'name': 'Tom', 'score': 1, 'strategy': 'Lizard'}
{'name': 'Alex', 'score': 2, 'strategy': 'Rock'} {'name': 'Chris', 'score': 1, 'strategy': 'Rock'}
{'name': 'Alex', 'score': 2, 'strategy': 'Lizard'} {'name': 'Tom', 'score': 1, 'strategy': 'Lizard'}
{'name': 'Chris', 'score': 1, 'strategy': 'Spock'} {'name': 'Tom', 'score': 2, 'strategy': 'Paper'}

In [45]:
society

[{'name': 'Jim', 'score': 3, 'strategy': 'Spock'},
 {'name': 'Jane', 'score': 5, 'strategy': 'Spock'},
 {'name': 'Peter', 'score': 6, 'strategy': 'Spock'},
 {'name': 'Zoe', 'score': 2, 'strategy': 'Spock'},
 {'name': 'Paul', 'score': 5, 'strategy': 'Spock'},
 {'name': 'Brigitte', 'score': 4, 'strategy': 'Scissors'},
 {'name': 'Alex', 'score': 2, 'strategy': 'Lizard'},
 {'name': 'Chris', 'score': 1, 'strategy': 'Spock'},
 {'name': 'Tom', 'score': 2, 'strategy': 'Paper'}]

In [46]:
socialResults=pd.DataFrame(society)
socialResults

       name  score  strategy
0       Jim      3     Spock
1      Jane      5     Spock
2     Peter      6     Spock
3       Zoe      2     Spock
4      Paul      5     Spock
5  Brigitte      4  Scissors
6      Alex      2    Lizard
7     Chris      1     Spock
8       Tom      2     Paper

In [47]:
filter1=socialResults.score==socialResults.score.max()
winner=socialResults[filter1]

#social outcome
winner

    name  score strategy
2  Peter      6    Spock

In [48]:
filter2=socialResults.score==socialResults.score.min()
loser=socialResults[filter2]

#social outcome
loser

    name  score strategy
7  Chris      1    Spock